body{
	font-family: 'Mochiy Pop One', sans-serif;
 background-image: url('https://i.pinimg.com/originals/2c/c5/d1/2cc5d12548397328666124340228715b.jpg')
}


.topnav {
	 background-color: #ffe875;
	overflow: hidden;
	margin: 40px;
	background-image:url('https://media.istockphoto.com/id/1429969786/vector/yellow-white-plaid-rustic-seamless-pattern.jpg?s=612x612&w=0&k=20&c=LFdVEjeJ0xeqmIYvcK2QqPLmIzbQBbs_IJvN5w1Skg8=');
	border:2px dashed goldenrod;
}

/* Style the links inside the navigation bar */
.topnav{
	display:flex;
	justify-content:space-evenly;
	padding: 10px;
	margin-left: 200px;
	margin-right:200px;
	margin-top:20px;
	border-radius:10px;

}
.topnav li{
	padding: 0px 30px; 
	border-radius:10px;
	
}
}

l {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #7e49f8;
	border-radius:10px;
	
}

li {
	float: left;
	border-radius:10px;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius:10px;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #86a2e4;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #506cbe;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
	display: block;
}
.open{
	background-color:#86a2e4;
	color:white;
}

.poke{
	
	text-align:center;
	
}
.parry{
	width:850px;
	height:300px;
	margin-bottom:30px;
	border:2px dashed goldenrod;
}

.cols{
	padding:50px;
	background-image:url('https://media.istockphoto.com/id/1429969786/vector/yellow-white-plaid-rustic-seamless-pattern.jpg?s=612x612&w=0&k=20&c=LFdVEjeJ0xeqmIYvcK2QqPLmIzbQBbs_IJvN5w1Skg8=');
	margin:50px;
	margin-left: 80px;
	margin-right: 80px ;
	border:2px dashed goldenrod;
}

p{
	padding-right:80px;
	padding-left:80px;
	background-color:white;
	border-radius:10px;
	margin:0px 150px;
	font-family: "Inconsolata", monospace;
}
figcaption a{
	text-decoration: none;
	color:#8661d1;
	background-color:lightgoldenrodyellow;
	border-radius:10px;
	font-size:1.5em;
	padding:5px;
	border:2px purple dotted;
}

.more{
 border-radius:10px;
	border:2px dashed #8661d1;
	color:#8661d1;
	padding:5px;
	margin:0px 600px;
	background-image:url('https://t3.ftcdn.net/jpg/05/12/41/30/360_F_512413029_f3oHvyz8EOOVNBOtyUyFr1Jaw88CSvHq.jpg');

}
.bird{
	width:700px;
	border:5px double goldenrod
}

.mits{
	display: flex;
	justify-content: center;
	background-image:url('https://media.istockphoto.com/id/1429969786/vector/yellow-white-plaid-rustic-seamless-pattern.jpg?s=612x612&w=0&k=20&c=LFdVEjeJ0xeqmIYvcK2QqPLmIzbQBbs_IJvN5w1Skg8=');
padding:50px;
   margin:0px 450px;
	border:2px dashed goldenrod;
}

.cat{
border-radius:10px;
border:2px dashed #8661d1;
color:#8661d1;
padding:5px;
margin:0px 600px;
background-image:url('https://t3.ftcdn.net/jpg/05/12/41/30/360_F_512413029_f3oHvyz8EOOVNBOtyUyFr1Jaw88CSvHq.jpg');
}
.non{
	margin-left:600px;
	margin-top:10px;
	border:5px dashed goldenrod;
	border-radius:40px;
	
}
.mio{
		display: flex;
		justify-content: flex-end;
		background-image:url('https://media.istockphoto.com/id/1429969786/vector/yellow-white-plaid-rustic-seamless-pattern.jpg?s=612x612&w=0&k=20&c=LFdVEjeJ0xeqmIYvcK2QqPLmIzbQBbs_IJvN5w1Skg8=');
	padding:50px;
		 margin:0px 450px;
		border:2px dashed goldenrod;
	}